body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color:rgb(250 211 210);*/
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(247, 179, 179));
    margin-top: 20px;
}
.header{
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bombNumber, .timer{
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
}      
.bombNum, .time{
    margin-left: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.gameOverMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.background{
    /* background-color: aliceblue; 
    border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    border-radius: 10px;
}
.gridItem{
    background-color: cadetblue;
    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    font-size: 0px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.sweeped{
    background-color: rgb(243, 243, 134);
    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
    color: black;
    font-size: medium;
}
.marked{
    background-color: rgb(246, 116, 112);
    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
}
.bomb{
    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
}
.exploding{
    font-size: 90px;
    transition: all 0.3s ease;
    z-index: 2;
}
.restartButton{
    background-color: aqua;
}
