body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 134);
}
.background{

    background-color: aliceblue;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    
}
.gridItem{
    background-color: cadetblue;
    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;
    
}
.sweeped{
    background-color: rgb(243, 243, 134);
    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
    color: black;

}
.marked{
    background-color: rgb(246, 116, 112);
    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
}
.bomb{

    border: 1px solid black;
    margin: 0px;
    flex-shrink: 0;
}
